:root {
  /* This selects the root element of the page */
  /* in our case it's probably the body? */

  --main-bg: rgb(231, 129, 140);
  --base-font-size: 32px;
}

/* Bare word selectors select a specific tag */
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 1dvw;

  background-color: var(--main-bg);
  font-size: var(--base-font-size);
}

main {
  width: max-content;
  margin: 0 auto;
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

/* . means class in selector-speak */
.square-two {
  background-color: rgb(6, 126, 62);
}

/* # is either a pound sign, hashtag, or octothorpe */
/* It means id in selector-speak */
#main-header {
  width: 100%;
  min-height: 5rem;
  background-color: rgb(90, 20, 164);
}

.square {
  aspect-ratio: 1;
  border-radius: 1rem;
  width: 15rem;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  margin: 1rem;

  & pre {
    font-size: xx-large;
    color: rgba(204, 204, 204, 0.5);
  }
}

.square-one {
  background-color: rgb(0, 153, 204);

  & pre {
    color: #ccc !important;
  }
}
